@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0;
}

app-square {
  border: 1px rgb(136,200,255) solid;
  background: rgb(49, 48, 48);
  height: 200px;
  border-radius: 5px;
}

mat-icon{
  cursor: pointer;
  color: white;
  transform: scale(3);
}

h1 {
  font-family: 'Rubik Marker Hatch', cursive;
  font-size: 50px;
  color: rgb(136,200,255);
}
