<mat-dialog-content fxLayoutAlign="center center">
  <h1>Select game mode</h1>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%">
  <div fxFlexFill fxLayoutGap="5%" fxLayoutAlign="center center">
    <button class="menu-button" matTooltip="Easy 3x3" (click)="navigateToEasyGame()">Easy</button>
    <button class="menu-button" matTooltip="Medium 5x5" (click)="navigateToMediumGame()">Medium</button>
    <button class="menu-button" matTooltip="Hard 9x9">Hard</button>
  </div>
</mat-dialog-actions>
