h1 {
  font-family: 'Rubik Marker Hatch', cursive;
  font-size: 150px;
  color: rgb(136,200,255);
}
.x{
  font-family: 'Rubik Maze', cursive;
  font-size: 150px;
  color: rgb(136,200,255);
}

.o{
  font-family: 'Rubik Maze', cursive;
  font-size: 150px;
  color: white
}

