<div class="confetti" fxFlexFill fxLayout="column">
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <h1>{{data.message}}</h1>
  <div fxLayout="row" fxLayoutGap="4%">
    <button mat-raised-button (click)="navigateToNewGame('easyGame', 9)">New Game</button>
    <button mat-raised-button (click)="navigateToMenu()">Back to Menu</button>
  </div>
</div>




