<!--<h2 *ngIf="winner">Player {{player}} won the game!</h2>-->
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3%" >
  <h1>Current Player: {{this.gameLogicService.player}}</h1>
  <main>
    <app-square *ngFor="let val of this.gameLogicService.squares; let i = index"
                [value]="val"
                (click)="this.gameLogicService.makeMove(i)">
    </app-square>
  </main>
  <div fxFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%">
    <mat-icon matTooltip="Start new Game" (click)="this.gameLogicService.newGame(9)">replay</mat-icon>-->
    <mat-icon [routerLink]="['/']" matTooltip="Back to Menu">home</mat-icon>
  </div>
</div>



