button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  font-size: 100px;
  font-family: 'Rubik Maze', cursive;
  color: rgb(136,200,255);
}
