/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

html, body { height:98%; background-image: url("assets/cool-background.png");   -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-dialog-container {
  background-color: rgb(49, 48, 48) !important;
}
